{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% if compound %}
                {% for error in errors %}
                	<p class="col-12 py-2 my-2" id="formErrors">{{ error.message }}</p>
            	{% endfor %}
            {% else %}
                {% for error in errors %}
                		<p class="col-12 py-2 my-2" id="formErrors">{{ error.message }}</p>
            	{% endfor %}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}