
{% for price in priceList %}

	<li>normal : <span>{{price.normal}} €</span></li>
	<li>enfant : <span>{{price.children}} €</span></li>
	<li>senior : <span>{{price.senior}} €</span></li>
	<li>tarif réduit : <span>{{price.reduct}} €</span></li>
	<li>gratuit pour les moins de 4 ans</li>

{% endfor %}