body {
	
	background: no-repeat fixed 100% url("../../public/img/pyr.jpg"); 
}

#footer {
	color: #444444;
	background-color: #191919;
	
}
#colofon {
	background-color: black;
}

#footer a {

	color: #444444;
}

#nav {
	
	background-color: black; 
}

#contact .btn, #contact #datacontact1 a {

	color: #efefef;
	border-style: none;

	background-color: #990000;
}

#contact .btn:focus {
	border: none;
	box-shadow: none;

}

#contact #datacontact1 span {

	color: #990000;
	font-weight: bold;
}

#recap span {
	color: #990000;
	font-weight: bold;
}

#recap .btn{

	color: #efefef;
	
	border: none;
	border-style: none;
	background-color: #990000;
	box-shadow: none;
}

#recap .btn:focus {

	color: #efefef;
	
	border-style: none;
	border: none;
	background-color: #282828;
}

#homepage {

	color: #2d2d2d;
}

#homepage .btn {

	color: #efefef;
	border-style: none;
	border-radius: 3em;
	background-color: #990000;
}

#homepage h2 {

	color: #383838;	

}

#formErrors {
	color:white;
	background-color: #fc6464;
	border-radius: 5px;
	text-align: center;
}

#recap #message {

	background-color: #990000;
	color: white;
}


/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#stripeForm span {
    color: white;
}