#footer {
	color: #444444;
	background-color: #191919;
	
}
#colofon {
	background-color: black;
}

#colofon a {

	color: #444444;
}

#nav {
	
	background-color: black; 
}

#homepage {

	color: #2d2d2d;
}

#homepage .btn {

	color: #efefef;
	border-style: none;
	border-radius: 3em;
	background-color: #990000;
}

#homepage h2 {

	color: #383838;	
}
