{% extends "layout.html.twig" %}

{% block core %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-12 pb-5 pt-3">
				<h2 class="col-12 pb-3">Bonjour,
				 et bienvenue sur la billetterie du louvre</h2>
				<p class="col-12 pb-3">Ancien palais des rois, le Louvre épouse l’histoire de France depuis huit siècles. Conçu dès sa création en 1793 comme un musée universel, ses collections, qui figurent parmi les plus belles au monde, couvrent plusieurs millénaires et un territoire qui s’étend de l’Amérique aux frontières de l’Asie. Réparties en huit départements, elles contiennent des œuvres universellement admirées, comme La Joconde, la Victoire de Samothrace ou la Vénus de Milo. Le Louvre est aujourd’hui le musée le plus visité au monde.</p>
				<p class="col-12"><span>vous pouvez acheter votre billet en cliquant directement sur ce bouton</span></p>
				<div class="col-12">
    		        <a class="btn btn-primary btn-md" href="{{ path('tickets') }}" role="button">Billetterie</a>
    		    </div>
			</div>
		</div>		
	</div>

{% endblock %}