{% extends "base.html.twig" %}

{% block body %}

	<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Navbar</a>
		<div class="collapse navbar-collapse">
			<div class="navbar-nav">
			    <a class="nav-item nav-link" href="#">billetterie</a>
			    <a class="nav-item nav-link" href="#">contact</a>
			</div>
		</div>
	</nav>

    {% block header %}{% endblock %}
    {% block core %}{% endblock %}

    <footer class="container-fluid">
    	<div class="row">
	    	<div class="col-md-12">
		    	<div class="row">
				        <div class="col-md-3">
				        	<ul class="list-unstyled">
					    	    <li>Mentions légales</li>
					    	    <li>Contact</li>
					        </ul>
				        </div>
					    
					    <div class="col-md-3">
					        <h6 class="col-md-12">adresse :</h6>
					        <p class="col-md-12">rue de rivoli<br> 75000 Paris</p>
					    </div>
				    
			    </div>
		    </div>
		    <div class="col-md-12">
		    	<p>©jeremiehvt-<a href="mailto:jeremiehvt@gmail.com">jeremiehvt@gmail.com</a>-<a href="">portfolio</a></p>
		    </div>
		</div>
    </footer>

{% endblock %}