{% extends "base.html.twig" %}

{% block body %}
	
	<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand" href="{{ path('homepage') }}">
			<img src="public/img/logo.png">
		</a>
		<div class="collapse navbar-collapse">
			<div class="navbar-nav">
			    <a class="nav-item nav-link" href="{{ path('tickets') }}">billetterie</a>
			    <a class="nav-item nav-link" href="#contact">contact</a>
			</div>
		</div>
	</nav>
	

    {% block header %}
    	<div class="jumbotron jumbotron-fluid">
    		
    		
    		
    	</div>
    {% endblock %}

    {% block core %}{% endblock %}
    
    <div class="jumbotron jumbotron-fluid">
   		<div class="container">
   		    <h2 class="col-12 pb-4" id="contact">infos, contact et horaires</h2>
   			<div class="row">
   				<div class="col-6 border-right">
   					<h5 class="col-md-12">Horaires d'ouverture :</h5>
					<ul class="col-md-12 list-unstyled">
						<li>Lundi : 9 h - 18 h</li>
						<li>Mardi : Fermé</li>
						<li>Mercredi : 9 h - 21h45</li>
						<li>Jeudi : 9 h - 18 h</li>
						<li>Vendredi : 9 h - 21h45</li>
						<li>Samedi : 9 h - 18 h</li>
						<li>Dimanche : 9 h - 18 h</li>
					</ul>

					<p class="col-md-12"><span>L'évacuation des salles débute à 17 h 30 ou 21 h 30 les jours de nocturne.</span></p>
   				</div>
   				<div class="col-6">
   					<h5 class="col-md-12">Adresse :</h5>
					<ul class="col-md-12 list-unstyled">
						<li>rue de rivoli 75000 Paris</li>
					</ul>
					<div class="embed-responsive embed-responsive-16by9 col-md-12">
						<iframe class="" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDTCfFoDJQ8P_P86tHZSC4MrPofZYlhHvo
    &q=Louvre+museum,Paris+France" allowfullscreen width="600" height="450">
						</iframe>
					</div>
   				</div>
   			</div>
   		</div>
   	</div>


    <footer class="container-fluid">
    	<div class="row">
	    	<div class="col-md-12">
		    	<div class="row">
				        <div class="col-md-3">
				        	<ul class="list-unstyled">
					    	    <li>Mentions légales</li>
					    	    <li>Contact</li>
					        </ul>
				        </div>
					    
					    <div class="col-md-3">
					        
					    </div>   
			    </div>
		    </div>
		    <div class="col-md-12">
		    	<p>conception©jeremiehvt-<a href="mailto:jeremiehvt@gmail.com">jeremiehvt@gmail.com</a>-<a href="https://www.behance.net/jeremiehavart">portfolio</a></p>
		    </div>
		</div>
    </footer>

{% endblock %}