{% extends "layout.html.twig" %}

{% block core %}
<div class="jumbotron jumbotron-fluid mb-0 bg-light">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12"><h2>formulaire </h2></div>
			<div class="col-12">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
{% endblock %}