{% extends "base.html.twig" %}



{% block body %}

	<div class="jumbotron mt-5 bg-light">
	    <h1>Une erreur c'est produite</h1>

	    <p>
	    	{{ exception.message }}<br>
	        Veuillez retourner à <a href="{{ path('homepage') }}"> à l'accueil</a>.	
	    </p>
	</div>

{% endblock %}





	
